In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('10_initial_m.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 3].values

dataset

       country   Age  Weight  Sleep before 10pm
0        China  39.0    33.0               True
1  Philippines  49.0    47.0              False
2        China   NaN    39.0              False
3        China  39.0    78.0              False
4        China  29.0     NaN              False
5    Indonesia  34.0    93.0              False
6  Philippines  33.0    57.0              False
7  Philippines  26.0    31.0               True
8        China   NaN    35.0               True
9        China  41.0     NaN              False

In [3]:
from sklearn.impute import SimpleImputer

In [4]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])

In [5]:
#to update the current dataset with filled NaN value
#please take note that you have change the original dataset
dataset.loc[:, 'Age'] = X[:,1]
dataset.loc[:, 'Weight'] = X[:,2]
dataset

       country    Age  Weight  Sleep before 10pm
0        China   39.0    33.0               True
1  Philippines   49.0    47.0              False
2        China  36.25    39.0              False
3        China   39.0    78.0              False
4        China   29.0  51.625              False
5    Indonesia   34.0    93.0              False
6  Philippines   33.0    57.0              False
7  Philippines   26.0    31.0               True
8        China  36.25    35.0               True
9        China   41.0  51.625              False

In [6]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [7]:
#set is to get unique data, then make it into list follow by sort
#after sort, data in sequence 0,1,2
d=list(set(dataset.iloc[:, 0].values))
d.sort()
d

['China', 'Indonesia', 'Philippines']

In [8]:
labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])

In [9]:
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('Country', OneHotEncoder(), [0])], remainder='passthrough')
X = ct.fit_transform(X)

In [10]:
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)